<div class="fullscreen-dialog">
  <div layout="column" layout-gt-md="row" layout-fill>
    <md-card flex layout-margin>
      <md-toolbar class="unselectable md-no-sticky">
        <div class="md-toolbar-tools">
          <h2>
            <span>{{Utils.getName(name)}}
              <span ng-bind="(Patient.prediction.predict[name]*100).toFixed(2)"></span>% Chance</span>
          </h2>
          <span flex></span>
        </div>
      </md-toolbar>
      <md-card-title-media>
        <d3-distribution height="450" select='{{name}}'></d3-distribution>
      </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="resample()" class="md-raised md-primary">Order</md-button>
      </md-card-actions>
    </md-card>
    <md-card flex="20" layout-margin>
      <md-toolbar class="unselectable md-no-sticky">
        <h1 class="md-toolbar-tools">Targets</h1>
        <md-divider></md-divider>
      </md-toolbar>
      <md-list class="orderlist" ng-cloak>
        <md-list-item ng-repeat="obj in interventions track by $index">
          <p class="small unselectable"> {{ obj.label }} </p>
          <md-checkbox class="md-secondary" ng-model="values[$index]"></md-checkbox>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>
    <md-card flex="25" layout-margin>
      <md-toolbar class="unselectable md-no-sticky">
        <h1 class="md-toolbar-tools">Interventions</h1>
        <md-divider></md-divider>
      </md-toolbar>
      <md-list class="orderlist" ng-cloak>
        <md-list-item ng-repeat="order in orderObj.orders track by $index">
          <p class="small unselectable"> {{ order.order_text }} </p>
          <md-checkbox class="md-secondary" ng-model="orderObj.selected_orders[$index]"></md-checkbox>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>
