<div class="fullscreen-dialog">
  <div layout="column" layout-gt-md="row" layout-fill>
    <md-card flex="55">
      <md-toolbar class="unselectable md-no-sticky">
        <div class="md-toolbar-tools">
          <h2>
            <span>{{Utils.getName(name)}}
              <strong>
                <span ng-bind="(Patient.prediction.predict[name]*100).toFixed(1)"></span>%</strong> Risk</span>
          </h2>
          <span flex></span>
        </div>
      </md-toolbar>
      <md-card-title-media>
        <d3-distribution height="450" select='{{name}}'></d3-distribution>
      </md-card-title-media>
      </md-card-title>
    </md-card>
    <md-card flex="20">
      <md-toolbar class="unselectable md-no-sticky">
        <h1 class="md-toolbar-tools">Complications</h1>
        <md-divider></md-divider>
      </md-toolbar>
      <md-list class="orderlist" ng-cloak>
        <md-list-item ng-repeat="obj in outcomes track by $index" >
          <p class="small unselectable"> {{ obj.label }} </p>
          <md-checkbox ng-click="selectFactor(obj)" ng-model="valuesOutcome[$index]"></md-checkbox>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <md-toolbar class="unselectable md-no-sticky">
        <h1 class="md-toolbar-tools">Risk Factors</h1>
        <md-divider></md-divider>
      </md-toolbar>
      <md-list class="orderlist" ng-cloak>
        <md-list-item ng-repeat="obj in postop track by $index">
          <p class="small unselectable"> {{ obj.label }} </p>
          <md-checkbox ng-click="selectFactor(obj)" ng-model="valuesPostop[$index]"></md-checkbox>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <md-toolbar class="unselectable md-no-sticky">
        <h1 class="md-toolbar-tools">Caremap</h1>
        <md-divider></md-divider>
      </md-toolbar>
      <md-list class="orderlist" ng-cloak>
        <md-list-item ng-repeat="obj in caremap track by $index">
          <p class="small unselectable"> {{ obj.label }} </p>
          <md-checkbox class="md-secondary" ng-click="selectFactor(obj)" ng-model="valuesCaremap[$index]"></md-checkbox>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>
    <md-card flex="25">
      <md-toolbar class="unselectable md-no-sticky">
        <h1 class="md-toolbar-tools">Interventions</h1>
        <md-divider></md-divider>
      </md-toolbar>
      <div layout="column" layout-align="space-between">
        <md-list class="target-container" ng-cloak>
          <md-list-item ng-repeat="order in orderObj.orders track by $index">
            <p class="small unselectable"> {{ order.description }} </p>
            <md-checkbox ng-click="selectIntervention(order)" ng-model="orderChecklist[order.description]"></md-checkbox>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
<!--         <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="addBasket()" class="md-raised md-primary">Add to Basket</md-button>
        </md-card-actions> -->
        <p class = "intervention-text"> Selected interventions automatically added to your Interventions Basket </p>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="resample()" class="md-raised md-primary">Order</md-button>
        </md-card-actions>
      </div>
    </md-card>
  </div>
</div>
