// FarmShots orange: #ef6c00

@import url("https://fonts.googleapis.com/css?family=Raleway");
img.cover {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.unselectable {

}
.transparent-background {
  background-color: rgba(0, 0, 0, 0);
}
.translucent-background {
  background-color: rgba(255, 255, 255, .75);
}
.transparent-opacity {
  opacity: 0.0
}
.translucent-opacity {
  opacity: 0.8
}
.fill {
  height: 100vh;
}
.center-align-text {
  text-align: center;
}
html, body {
  font-family: 'Raleway';
}
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}
body {
  height: 100%;
  margin: 0;
}
body > div {
  height: 100%;
}
// Component styles are injected through grunt
// injector
@import 'allcompDialog/allcompDialog.scss';
@import 'd3Distribution/d3Distribution.scss';
@import 'enhancedDialog/enhanchedDialog.scss';
@import 'main/main.scss';
@import 'ordersDialog/ordersDialog.scss';
@import 'sideNavPushIn/sideNavPushIn.scss';
// endinjector
