<div class="fullscreen-dialog">
  <div layout="column" layout-gt-md="row" layout-fill>
    <md-card flex layout-margin>
      <md-toolbar class="unselectable md-no-sticky">
        <h1 class="md-toolbar-tools">Caremap Factors</h1>
        <md-divider></md-divider>
      </md-toolbar>
      <md-list class="orderlist" ng-cloak>
        <md-list-item ng-repeat="obj in postop track by $index">
          <p class="small unselectable"> {{ obj.label }} </p>
          <md-checkbox class="md-secondary" ng-click="selectFactor(obj)" ng-model="valuesPostop[$index]"></md-checkbox>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>
    <md-card flex layout-margin>
      <md-toolbar class="unselectable md-no-sticky">
        <h1 class="md-toolbar-tools">Interventions</h1>
        <md-divider></md-divider>
      </md-toolbar>
      <p class = "intervention-text text-align-left"> Selected interventions automatically added to your Interventions Basket </p>
      <div layout="column" layout-align="space-between">
        <md-list class="target-container" ng-cloak>
          <md-list-item ng-repeat="order in orderObj.orders track by $index">
            <p class="small unselectable"> {{ order.description }} </p>
            <md-checkbox class="md-secondary" ng-click="selectIntervention(order)" ng-model="orderChecklist[order.description]"></md-checkbox>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </md-card>
  </div>
</div>
