.main-body {
  max-height: 100%;
  height: 100%;
}
.superfab {
  position: absolute;
  opacity: .5;
}
.superfab:hover {
  opacity: 1;
}
.transparent {
  opacity: .4
}
.footer {
  font-size: .8em
}
.title-style{
  height: 64px !important
}